

.br{
    height: 100vh;
    background: url(../img/Form_backgroup.jpg);
    /* background: #382e498f; */
    background-position: right;
    background-size: cover;
    border-radius: 3%;
}


/* bắt đầu css button  */

.ab{
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */

}

.bt{
    /* width: 600px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.bt .btnab{
position: relative;  
 width: 155px; 
height: 30px;   

}

.bt .btnab a{
 position:absolute;   
 top: 0;
 left: 0;
 width: 100%;
 height: auto;
 display:flex;
 justify-content: center;
 align-items: center;
background:  rgba(255, 255, 255, 0.05) ;
box-shadow: 0 15px 35px rgb(0, 0, 0,0.2);
border-top: 1px solid rgba(255, 255, 255, 0.1);
border-bottom: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 30px;
color: rgb(59, 55, 55);
font-weight:600;
letter-spacing: 1px;
text-decoration: none;
overflow: hidden;
transition: 0.5s;
backdrop-filter: blur(15px);
}

.bt .btnab:hover a,
.bt .btnab.active a{
letter-spacing: 3px;
}

.bt .btnab a::before
{
    content:'';
    position:absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left,rgba(255, 255, 255, 0.2),transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}

.bt .btnab:hover a::before,
.bt .btnab.active a::before
{
    transform: skewX(45deg) translateX(200%);
}

.bt .btnab::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom:-1px;
    width: 50px;
    height: 10px;
    background: #1fff97;
    box-shadow: 0 0 5px #1fff97,
    0 0 15px #1fff97,
    0 0 30px #1fff97,
    0 0 60px #1fff97;
    border-radius: 10px;
    transition: 0.5s;
}

.bt .btnab:hover:before,
.bt .btnab.active:before{
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}


.bt .btnab::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:-1px;
    width: 50px;
    height: 10px;
    background:#1fff97;
    box-shadow: 0 0 5px #1fff97,
    0 0 15px #1fff97,
    0 0 30px #1fff97,
    0 0 60px #1fff97;
    border-radius: 10px;
    transition: 0.5s;
}

.bt .btnab:hover:after,
.bt .btnab.active:after{
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}


/* .bt .btnab:nth-child(1)::before,
.bt .btnab:nth-child(1)::after
{
    background: #1fff97;
    box-shadow: 0 0 5px #1fff97,
    0 0 15px #1fff97,
    0 0 30px #1fff97,
    0 0 60px #1fff97;
}
    */
/* kết thúc css button  */




/* FORM CONTACT */
section{
    display:flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
    width: 100%;
    /* background: #001923; */
    /* background: url(../img/brkinh.jpg); */
    background: none ;


}

/* section::before{
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(#ffeb3b,#e91e63);
    border-radius: 50%;
    transform: translate(-420px,-180px);
}

section::after{
    content: '';
    position: absolute;
    width: 350px;
    height: 350px;
    background: linear-gradient(#2196f3,#83d8ff);
    border-radius: 50%;
    transform: translate(400px,180px);
} */

.conform
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    background:rgba(255, 255, 255, 0.06 );
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25 );
    border-right: 1px solid rgba(255, 255, 255, 0.1 );
    border-bottom: 1px solid rgba(255, 255, 255, 0.1 );
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(25px);
    height: 38rem ;

}


.conform::before{
    content: '';
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background:rgba(255, 255, 255, 0.05 ) ;
    pointer-events: none;
    transform: skewX(-15deg);
}

.hh2{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
    padding-top: 15px ;
    
}

.conform .row100{
    position: relative;
    width: 100%;
    /* height: 11rem; */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}


.conform .row100 .colu{
    position: relative;
    width: 100%;
    padding: 0 10px ;
    margin: 30px 0 20px;
}



.conform .row100 .colu .inputBox{
    position: relative;
    font-weight: 400;
    width: 100%;
    height: 40px;
    color:blue;
}

.conform .row100 .colu .inputBox input,
.conform .row100 .colu .inputBox textarea
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
    
}


.conform .row100 .colu .inputBox .text
{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;

}

.conform .row100 .colu .inputBox input:focus + .text,
.conform .row100 .colu .inputBox input:valid + .text,
.conform .row100 .colu .inputBox textarea:focus + .text,
.conform .row100 .colu .inputBox textarea:valid + .text
{
    top: -35px;
    left: -10px;
}


.conform .row100 .colu .inputBox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: none;
    transition: 0.5px;
    border-radius: 2px;
    pointer-events: none;
    border-bottom: solid 1px  #fff;

}

.conform .row100 .colu .inputBox input:focus ~ .line,
.conform .row100 .colu .inputBox input:valid ~ .line{
    height: 100%;
}


.conform .row100 .colu .inputBox.textarea{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0 ;
}

.conform .row100 .colu .inputBox textarea:focus ~ .line,
.conform .row100 .colu .inputBox textarea:valid ~ .line
{
    height: 100%;
}

 
.conform .row100 .colu li{
    color: #fff;
}

.conform .row100 .colu li i{
    color:red;
    font-size: 30px;
}

.error{
    color: red;
    margin-top: 50px;}

 /* KẾT THÚC FORM CONTACT */
.about_p{
    font-weight:600;
    margin: 6%;
    margin-bottom: 0px;
    word-spacing: 4px;
    letter-spacing: 1px;
 }
 .about_h2{
     text-align: center;
     margin-top: 2%;    
 }