/*banner*/
.banner{
    margin-bottom: 2rem;
}
.img2 img{
    width: 100%;
    height: auto;
    border-radius: 10%;
}
.img1 img{
    width: 100%;
    height: auto;
    border-radius: 10%;
}
/*Trending*/
.trending h3{
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.68rem;
    color: red ;
    margin-bottom: 10%;
}
.trending{
    border-radius: 8%;
    width: 100%;
    max-height: 100%;
    overflow:auto;
}
.trend ul li{
    display:block;
    font-size: 1rem;
    letter-spacing: 0.4rem;
}
.trend ul li a{
    text-decoration: none;
    color: gray;
    display: flex;
    
}
.imgtrending {
    width:40%;
    padding-right: 7%;
}
/*RAYBAN*/
.brand{
    transition: all 1s ease-in;
    transition-delay: 1s;
}
.rayban{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.25rem;
}
.rayban div{
    text-align: center;
    text-transform: uppercase;
}
.rayban img {
    width: 60%;
    height: auto;
    border-radius: 100%;
    transition: all 1s ease-in-out;
}
.rayban img:hover{
    width: 70%;
    height: auto;
}
.brand h2 {
    font-size: 1.7rem;
}
.Offical{
    font-size: .9rem;
    margin-top: 1.5rem;
}
.raybanPro{
    font-size: 18px;
    color: grey;
    letter-spacing: 5px;
}
.raybantitle{
    color: red;
    font-size: 1.6rem;
    font-family: 900;
    
}
.vietnam{
    letter-spacing: 5px;
    font-size: 1.1rem;
    color: grey;
}
.brand h2{
    letter-spacing: 3px;
}
.top1{
    font-size: 2.2rem;
    opacity: 0.9;
}

/*Hugo boss*/
.brandHugo{
    transition: all 1s ease-in;
    transition-delay: 1s;
}
.brandHugo:hover{
    transform: rotate(5deg);
}

.hugoBoss{
    display: inline-flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.25rem;
}
.hugoBoss div{
    text-align: center;
    text-transform: uppercase;
}
.hugoBoss img {
    width: 60%;
    height: auto;
    padding: 10px;
    transition: all 1s ease-in-out;
}
.hugoBoss img:hover{
    width: 70%;
    height: auto;
}
.hugoBoss .raybantitle{
    color: black;
}
.brandHugo h2{
    font-size: 1.25rem;
}
.boss{
    color:rgb(6, 1, 1);
    font-weight: 900;
    font-size: 2rem;
}
.hugo{
    color:rgb(208, 32, 22);
    font-weight: 900;
    font-size: 2rem;
}

/*GUCCI*/
.brandGucci{
    transition: all 1s ease-in-out;
    transition-delay: 0.5s;
}
.brandGucci:hover{
    transform: rotate(-5deg);
}
.gucci{
    display: inline-flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.gucci div{
    text-align: center;
    text-transform: uppercase;
}
.gucci img {
    width: 60%;
    height: auto;
    transition: all 1s ease-in-out;
}
.gucci img:hover{
    width: 70%;
    height: auto;
}
.gucci .raybantitle{
    color: black;
}
.gucci h2{
    letter-spacing: 3px;
    color: rgb(231, 137, 14);
    font-size: 1.25rem;
}
.loganGucci{
    color:rgb(102, 101, 101);
    font-weight: 900;
    font-size: 2rem;
    opacity: 0.4;
}
/*Actic*/
.act{
    margin-bottom: 2rem;
}
.genuine{
    display: flex;
    text-align: center;
}
.btnBrand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.btnBrand h2{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
}
.btnBrand p{
    margin-top: 5px;
    letter-spacing: 2px;
    color: gray;
}
.btnBrand button{
    width: 30%;
    height: 3rem;
    margin-top: 20px;
    align-self: center;
    border-bottom-left-radius: 20%;
    text-align: center;
    color: white;
}
.btnBrand .btn1{
    background-color: rgba(244, 0, 0, 0.873);
}
.btnBrand .btn2{
    background-color: rgba(6, 1, 1, 0.873);
}
.btnBrand .btn3{
    background-color: rgb(207, 109, 109);
}
.imgArct{
    text-align: center;
}

.imgArct img{
    border-radius: 10%;
    margin: 0.7rem;
    box-shadow:  5px 2px rgba(72, 64, 64, 0.986);
    opacity: 0.8;
    transition-delay: 0.5s;
    transition:all 1s ease-in-out;
}
.imgArct img:hover {
    transform: scale(1.1);
}

/*video*/
.videotech h2{
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 3.1rem;
    margin-bottom: 2rem;
}
.tech div{
    display:flex;
    justify-content: center;
    align-items: center;
    border: solid thin white;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 2px rgba(203, 196, 196, 0.986);
    transition: all 1s ease-in-out;
    transition-delay: 0.5s;
}
.tech h2{
    font-size: 23px;
}
.tech div p{
    padding-top: 40px;
}
.endvideo p{
    text-align: center;
    letter-spacing: 3px;
}

.tech div:hover {
   text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
   background-color: rgb(213, 209, 203);
}
.endvideo{
    text-align: center;
    margin-top: 2.5rem;
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
}

@media only screen and (min-width:1025px){
    .brand:hover{
        transform: rotate(-5deg);
    }
}
@media only screen and (max-width:1200px){
 .imgArct .h1c{
    display: none;
}
}
/*test*/
.showtotop1{
    opacity:1;
}

.active .showtotop1{
    animation:  1s ease-in-out 1 forwards
}
.delay-02{
    animation-delay: 0.2s !important
}
.delay-04{
    animation-delay: 0.4s !important
}




