.product_img{
    width:20%;
    height: auto;  
  }
  .product_img1{
    width: 80% ;
    height: auto;
    margin-left: 10%;
  }
  
  .product_span1{
    font-size: 1.3em;
    font-weight: bold;
  }
  .product_boxnumber{
    width: 10%;
  }
  .produc_price{
    font-size: 1.3em;
    opacity: 0.8;
    font-weight: bold;
  }
  
  .product_boder :hover{
    border: solid red;
    width: 85%;
    transition: 0.5s;
    border-radius:10px;
  }
  .produc_price_error{
      font-size: 0.8em;
      color: red;
      opacity: 0.5;
  }
  .product_link{
    text-align: center;
  }
  .product_link :hover{
        color: red;
        opacity: 0.7;
        transition: 0.5s;
       
  }
  .list_product_hover {
    background-color: white;
    display: inline-block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: unset;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
  }
  
  .list_product_hover * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  
  .list_product_hover:before,
  .list_product_hover:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    background-color:beige;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    content: '';
    opacity: 0.5;
    z-index: 1;
  }
  
  .list_product_hover:before {
    -webkit-transform: skew(45deg) translateX(-155%);
    transform: skew(45deg) translateX(-155%);
  }
  
  .list_product_hover:after {
    -webkit-transform: skew(45deg) translateX(155%);
    transform: skew(45deg) translateX(155%);
  }
  
  .list_product_hover img {
    backface-visibility: hidden;
    max-width: 100%;
    vertical-align: top;
  }
  
  .list_product_hover .caption1 {
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
  }
  
  .list_product_hover h3 {
    background-color: #000000;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1em;
    font-weight: bold ;
    letter-spacing: 1px;
    margin: 0;
    padding: 5px 10px;
    text-transform: uppercase;
  }
  
  .list_product_hover .link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }
  
  .list_product_hover:hover > img,
  .list_product_hover.hover > img {
    opacity: 0.8;
  }
  
  .list_product_hover:hover:before,
  .list_product_hover.hover:before {
    -webkit-transform: skew(45deg) translateX(-55%);
    transform: skew(45deg) translateX(-55%);
  }
  .list_product_hover:hover:after,
  .list_product_hover.hover:after {
    -webkit-transform: skew(45deg) translateX(55%);
    transform: skew(45deg) translateX(55%);
  }
  .list_product_hover:hover .caption1,
  .list_product_hover.hover .caption1 {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  /*   End */
  .center{
    text-align: center;
  }
  .word-link{
    text-decoration: none;
  }
  .word-link:hover{
    font-size: 1.2em;
    color: red;
  }
  .list_bold{
    font-weight: bold;
    font-size: 1.2em;
  }
  .list_margin{
    margin-bottom: 3%;
  }

  /* Banner */
.banner-list-product{
    /* background-image: url('../img/bannerlist/rb-stories-round-shinyblue-banner.jpg'); */
    width: 90%;
    margin-left: 5%;
    background-size: cover;
    background-position: center;
    
    height: 30rem;
    border-radius: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 3rem;
}
.banner-list-product .p1{
    font-size: 5rem;
    color: white;
    font-weight: 900;
    letter-spacing: 1.2rem;
    opacity: 0.9;
}
.banner-list-product .p2{
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
    letter-spacing: 1rem;
    opacity: 0.9;
}
.content-list-product{
    text-align: center;
    margin-bottom: 3rem;
}
.content-list-product .c1{
    font-size: 3rem;
    color: black;
    font-weight: 800;
}
.content-list-product .c2{
    font-size: 1.5rem;
}
