<div class="container br">
    <!-- BUTTON ĐẦU TRANG -->
    <div class="ab">
        <div class="bt">
            <div class="btnab" ng-click="menu_ab('about-us')" ng-class="{active: show_about==true}"><a
                    href="">About Us </a></div>
            <!-- ng-class="{active: show_sunglasses==true}" > -->

            <!-- <div class="btnab " ng-click="menu_ab('glasses')"><a>GLASSES</a></div>

            <div class="btnab " ng-click="menu_ab('lens')"><a href="">CONTACT LENS</a></div> -->
        </div>
    </div>


    <div class="ab">
        <div class="bt">
            <div class="btnab  " ng-click="menu_ab('Policy')" ng-class="{active: show_Policy==true}"><a href="">Privacy
                    Policy</a></div>
            <!-- ng-class="{active: show_Policy==true}" -->
            <div class="btnab " ng-click="menu_ab('Terms')" ng-class="{active: show_Terms==true}"><a href="">Terms of
                    use</a></div>

            <div class="btnab " ng-click="menu_ab('GUARANTEE')" ng-class="{active: show_GUARANTEE==true}"><a
                    href="">GUARANTEE</a></div>

            <div class="btnab " ng-click="menu_ab('Payments')" ng-class="{active: show_Payments==true}"><a href="">
                    Payments </a></div>
        </div>
    </div>
    <!--KẾT THÚC BUTTON ĐẦU TRANG -->
    <div ng-show="show_about">
        <h2 class="about_h2"> Persol was founded in 2022 by two scientists to answer this question: </h2>
        <p class="about_p" style="margin-top:2% ;">
            Doesn't everyone deserve to look good while wearing an affordable pair of glasses? The mission was clear:
            Give people glasses they can actually afford but still make them look like a million bucks. It started
            small, a little company with big ideas, but it quickly grew into a phenomenon. Fashionistas, moms on-the-go,
            discerning customers; everyone found that they could get the selection they deserved at prices they could
            afford with Persol
            <br>
            Persol has since grown into an online optical industry leader. That's prescription eyeglasses online.
            Prescription sunglasses online. Non-prescription sunglasses online.
            <br>
            The U.S. export control laws regulate the export and re-export of technology originating in the United
            States. This includes the electronic transmission of information and software to foreign countries and to
            certain foreign nationals. You agree to abide by these laws and their regulations-including but not limited
            to the Export Administration Act and the Arms Export Control Act and not to transfer, by electronic
            transmission or otherwise, any content derived from this website to either a foreign national or a foreign
            destination in violation of such laws.
        </p>
        <ul class="about_p" style="margin-top:2% ;">Persol was built upon the following principles, and is dedicated to
            fulfilling them:
            <li> was built upon the following principles, and is dedicated to fulfilling them:</li>
            <li>To provide the highest-quality optical lenses to our customers.</li>
            <li>To make it easy to order eyeglasses online.</li>
            <li>To provide exceptional customer support.</li>
        </ul>

    </div>

    <div id="Policy" ng-show="show_Policy">
        <h2 class="about_h2"> Customer information privacy policy</h2>
        <p class="about_p">
            With the operating principle of building the safest online shopping address in Vietnam, We understands the
            importance of keeping the information that customers have trusted to provide us with. Therefore, we are
            committed to using the best information security technologies to ensure that this information is not
            unintentionally retrieved, used or disclosed. We also understand, one of the most important information is
            the customer's email. That's why we built this customer email privacy policy, in order to bring absolute
            safety to customers, provide customers with the best service with the core value of trust. each other. With
            this privacy policy, customers can completely use the service at We without having to worry about any
            information security threats. We always complies with the law against spam emails, fake emails. Therefore,
            you only receive emails from us in case (a) when you sign up to receive our information (b) you buy, use our
            products / services or use the services of companies and partners related to We
        </p>
    </div>

    <div id="Terms" ng-show="show_Terms">
        <h2 class="about_h2">Reviews, Comments, Communications and Other Content</h2>
        <p class="about_p">
            We welcome your comments regarding our products, services and website. You may post reviews, comments and
            other content and submit suggestions, ideas, comments, questions or other information, so long as the
            content is not illegal, obscene, threatening, defamatory, invasive of privacy, infringing of intellectual
            property rights or otherwise injurious to third parties or objectionable and does not consist of or contain
            software viruses, political campaigning, commercial solicitation, chain letters, mass mailings or any form
            of "spam." You may not use a false e-mail address, impersonate any person or entity, or otherwise mislead as
            to the origin of a communication or other content. We reserve the right (but not the obligation) to remove
            or edit such content, but we do not regularly review posted content.
            <br>
            We welcome your comments regarding our products, services and website. You may post reviews, comments and
            other content and submit suggestions, ideas, comments, questions or other information, so long as the
            content is not illegal, obscene, threatening, defamatory, invasive of privacy, infringing of intellectual
            property rights or otherwise injurious to third parties or objectionable and does not consist of or contain
            software viruses, political campaigning, commercial solicitation, chain letters, mass mailings or any form
            of "spam." You may not use a false e-mail address, impersonate any person or entity, or otherwise mislead as
            to the origin of a communication or other content. We reserve the right (but not the obligation) to remove
            or edit such content, but we do not regularly review posted content.
        </p>
    </div>

    <div id="GUARANTEE" ng-show="show_GUARANTEE">
        <h2 class="about_h2">
            Guarantee policy
        </h2>
        <p class="about_p">
            All of glasses are entitled to two global warranty policies and a warranty right
            in Vietnam.
            <br>
            Warranty period for genuine Ray-Ban glasses: 1 year from the date of purchase indicated on the purchase
            receipt at Eyewear.
            <br>
        <ul class="about_p" style="margin-top:2% ;"> Warranty items related to manufacturing and manufacturing defects:

            <li> Screws and screws are loose or lost.</li>
            <li> Laser inscriptions are blurred and peeled</li>
            <li> Lenses that “explode”, “splash”, or appear as tiny white spots that cannot be cleaned.</li>
        </ul>
        <ul class="about_p" style="margin-top:2% ;"> Items not covered by warranty:
            <li>Glass frames and frames are broken.</li>
            <li>Lenses are broken, cracked, chipped due to physical impact.</li>
        </ul>



        </p>
    </div>
    <div id="Payments" ng-show="show_Payments">
        <h2 class="about_h2"> Payments</h2>
        <p class="about_p">
            We is a pioneer website in creating convenience and ease for customers, through many flexible payment
            methods:
        <ul class="about_p" style="margin-top:2% ;">
            <li> Cash (in store)</li>
            <li> Pay by card (no charge for "swiping" the card)</li>
            <li>Cash On Delivery (COD): collect cash on the spot</li>
            <li> Online Payment: You can use your cards, including Visa, Master, or even ATM cards to pay at home.</li>
        </ul>

        </p>

    </div>


</div>


</div>

<script type="text/javascript">

    // $(document).on('click','.btnab',function(){
    //     $(this).addClass('active').siblings('.btnab').removeClass('active')
    // })

    // JQUERY 
    $('.btnab').click(function () {
        $('.btnab').removeClass('active')
        $(this).closest('.btnab').addClass('active')
    })

</script>